body {
    font-family: sans-serif;
    background-color: #ddd;
}

.navbar {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    margin: 10px 10px;
    color: black;
}

.navbar .icon {
    display: none;
}

@media (max-width:767px) {
    .navbar .icon {
        display: block;
        cursor: pointer;
        position: relative;
    }
    .navbar .links {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: red;
        top: 100px;
        left: -5900px;
        right: 0px;
        transition: 2s;
    }
    .navbar .links.active {
        left: 0px;
    }
    .navbar ul {
        display: flex;
        list-style: none;
        flex-direction: column;
    }
    .navbar .links ul li {
        width: 90%;
        background-color: blue;
        margin: 10px 10px;
    }
    .navbar .links ul li a {
        display: block;
        width: 100%;
        margin: 10px 10px;
    }
}